@import-normalize;
@import './nav.css';
@import './main.css';
@import './chart.css';
@import './comment.css';
@import './footer.css';

*, 
*::before, 
*::after {
  box-sizing: border-box;
}

:root {
  --primary-clr-800: hsl(191, 100%, 10%);
  --primary-clr-600: hsl(191, 100%, 17%);
  --primary-clr-400: hsl(12, 66%, 91%);
  --primary-clr-200: hsl(203, 94%, 86%);

}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}