#d3demo{
  padding-top: 5em;
  width: 60vw;
  height: 30em;
  margin: 0 auto 10em;
}

.chart__axes line {
  stroke: var(--primary-clr-800);
  fill: var(--primary-clr-200);
}

.chart__axes path {
  stroke: var(--primary-clr-800);
  stroke-width: 1.5;
  fill: none;
}

.chart__axes text {
  color: var(--primary-clr-800);
}

.chart__line {
  stroke: var(--primary-clr-600);
  fill: none;
  stroke-width: 3;
}

.chart__label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1rem;
  stroke-width: 1;
  fill: var(--primary-clr-800)
}