#d3demo{
  padding-top: 5em;
  max-width: 1400px;
  height: 60vh;
  margin: 0 auto 12em;
}

.chart {
  overflow-y: hidden;
  /* height: inherit; */
}

.chart__axes {
  animation: fade-in 1s ease;
}

.chart__axes line {
  stroke: var(--primary-clr-800);
  fill: var(--primary-clr-200);
}

.chart__axes path {
  stroke: var(--primary-clr-800);
  stroke-width: 1.5;
  fill: none;
}

.chart__axes text {
  color: var(--primary-clr-800);
  font-size: 1rem;
}

.chart__line {
  stroke: var(--primary-clr-600);
  fill: none;
  stroke-width: 1.2;
  stroke-dasharray: 3.5;
  animation: dash 2s ease-out;
}

.chart__label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1rem;
  stroke-width: 1;
  fill: var(--primary-clr-800)
}

.chart__node {
  position: relative;
  fill: var(--primary-clr-600);
  animation: roll-up 1s ease-out;
}

.chart__node::after {
  content: "hello";
  position: relative;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: red;
}

.chart__node__text {
  position: relative;
  font-family: var(--sans-serif-font);
  font-size: 1.3rem;
  font-weight: bold;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
  opacity: 0;
  fill: var(--primary-clr-400);
  stroke: var(--primary-clr-800);
  stroke-width: 1;
  transform: translateY(200%);
}
.chart__node:hover .chart__node__text,
.chart__node:focus .chart__node__text {
  opacity: 1;
  transform: translate(-20px, -10px);
}

@keyframes roll-up {
  0% {
    opacity: 0;
    transform: translateY(-15%)
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dash {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    stroke-dashoffset: 21;
  }
}