.comment__heading,
.comment__text {
  margin: 0 auto;
  padding: 0.5em 0;
  width: 60%;
  color: var(--primary-clr-800);
}

.comment__heading {
  font-size: 2rem;
  font-family: var(--serif-font);
  animation: text-fade-in 1s ease-out;
}

.comment__btn {
  padding: 0.5em 0;
  border: none;
  background: none;
  font-weight: bold;
  transition: transform .3s ease;
}

.comment__btn:hover {
 cursor: pointer;
}

.comment__btn--toggled {
  transform: rotate(90deg) 
}

.comment__text {
  position: relative;
  font-family: var(--sans-serif-font);
  font-size: 1.3rem;
  line-height: 1.4;
  padding-bottom: 1em;
  transition: all .3s ease-out;
}

.comment__text--invisible {
  transform: translateY(-100%);
  display: none;
  bottom: 10em;
}

@keyframes text-fade-in {
    0% {
    opacity: 0;
    transform: translateX(-5%)
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateX(0)
  }
}