.nav {
  margin: 0;
  background-color: var(--primary-clr-600);
  color: var(--primary-clr-400);
}

.nav__list {
  padding: 1em 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 80%;
}

.nav__brand {
  font-family: var(--serif-font);
  font-size: 1.7rem;
}